@media screen and (min-width: 960px) {
    .px {
        font-size: 16px;
    }

    .p {
        font-size: 1rem;
        font-weight: bold;
    }

    .vw {
        font-size: 1rem;
    }

    .li {
        font-size: 1rem;
    }

    .li_1 {
        font-size: 1rem;
    }

    .li_2 {
        font-size: 1rem;
    }

    .h2 {
        font-size: 1.5rem;
    }

    .h3 {
        font-size: 1rem;
    }

    .b_style {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0 0 0 39%;
        color: #595757;
    }

    h1 img {
        position: relative;
        left: 40%;
        width: 35%;
        height: auto;
        border-bottom: solid;
        border-bottom-color: #595757;
    }

    .p_style {
        font-size: 1.5rem;
        margin: 0 0 0 39%;
        color: #595757;
        font-weight: bold;
    }

    .header_sns li {
        width: 100%;
        margin: 0 0 0 0;
    }

    .header_sns li img {
        width: 50%;
    }

    .header_sns {
        width: 18%;
        position: absolute;
        top: 5%;
        left: 70%;
        display: flex;
    }

    .nav01 {
        width: 60%;
        position: absolute;
        top: 500px;
        left: 25%;
        display: flex;
    }

    .nav01 li {
        width: 20%;
        height: 100px;
        text-align: center;
        margin: 0 0 0 3px;
        padding: 0 0 0 0;
        line-height: 100px;
    }

    .nav01 li a {
        width: 20%;
        height: 100px;
        padding: 10px 0 0 0;
        font-weight: bold;
    }

    .nav02 {
        width: 60%;
        position: absolute;
        top: 600px;
        left: 32%;
        display: flex;
    }

    .nav02 li {
        width: 20%;
        height: 100px;
        text-align: center;
        padding: 0 0 0 0;
        margin: 3px 0 0 3px;
        line-height: 100px;
    }

    .nav02 li a {
        width: 20%;
        height: 100px;
        padding: 0 0 0 0;
        font-weight: bold;
    }

    .box0 {
        width: 100%;
        background: url("../image/header_back.png") no-repeat center center;
        background-size: cover;
        height: 400px;
        margin-top: 5%;
    }

    .box1 {
        position: absolute;
        top: 800px;
        width: 100%;
    }

    .box1 p {
        width: 50%;
        height: 100px;
        text-align: center;
        font-size: 1.5rem;
        padding: 0 0 0 0;
        font-weight: bold;
        line-height: 100px;
    }

    .girl01 {
        position: absolute;
        top: 0;
        left: 5px;
    }

    .girl01 img {
        width: 70%;
        height: auto;

    }

    .box2 {
        width: 80%;
        height: auto;
        margin: 700px 0 0 20%;
    }

    .box2 h2 {
        padding: 20px 0 20px 0;
        font-weight: bold;
    }

    .box2 h3 {
        padding: 20px 0 20px 5%;
        font-weight: bold;
        color: #595757;
    }

    .box2 p {
        width: 100%;
        padding: 20px 0 0 5%;
        color: #595757;
        line-height: 50px
    }

    .box2_img01 {
        width: 40%;
        height: auto;
    }

    .box2_img02 {
        width: 50%;
        height: auto;
    }

    .box2_img03 {
        width: 50%;
        height: auto;
    }

    .box2 ul {
        width: 100%;
        padding: 20px 0 0 15%;
        list-style: disc;
        color: #595757;
    }

    .box2 li {
        width: 100%;
        line-height: 70px;
        letter-spacing: 1px
    }

    .box2 h4 {
        position: absolute;
        bottom: 30%;
        left: 20%;
        font-size: 2rem;
    }

    .box02_h4 {
        margin: 120px 0 0 0;
        font-weight: bold;
    }

    .br_01 {
        position: relative;
        top: 120px;
        right: 20%;
        background: linear-gradient(135deg, #fff68e, #FFFFFF) center;
        border-radius: 12vw / 7vw;
        width: 28vw;
        height: 12vw;
    }

    .br_01 div, .br1_01 h4, .br1_01 {
        display: block;
        text-align: center;
    }

    .boder01 {
        width: 50%;
        height: auto;
        border-bottom: solid 2px #595757;
    }

    .boder02 {
        width: 35%;
        height: auto;
        border-bottom: solid 2px #595757;
    }

    .box3 {
        width: 60%;
        height: auto;
        margin: 5% 20% 0 20%;
    }

    .box3 .h2 {
        padding: 20px 0 20px 0;
        font-weight: bold
    }

    .box3 .img {
        width: 20%;
        height: auto;
        margin: 30px 0 0 0;
        object-fit: contain;
        object-position: top;
    }

    .box3 .p {
        width: 60%;
        margin: 0 0 0 0;
        padding: 20px 10px 0 10px;
        color: #595757;
    }

    .bold {
        font-weight: bold;
    }

    .boder03 {
        width: 70%;
        margin: 0 0 0 0;
        height: auto;
        border-bottom: solid 2px #231815;
    }

    .box4 {
        width: 60%;
        height: auto;
        margin: 5% 20% 5% 20%;

    }

    .box4 .h2 {
        width: 60%;
        text-align: left;
        margin: 0 0 0 0;
        padding: 20px 0 20px 0;
        font-weight: bold;
    }

    .box4 .h3 {
        width: 100%;
        margin: 10px;
        color: #595757;
    }

    .box4 figure {
        width: calc(100% / 3);
        min-width: 15%;
        max-height: 100%;
    }

    .box4 figure {
        display: flex;
        flex-flow: column;
    }

    .box4 .img {
        width: auto;
        max-width: 80%;
        max-height: 100%;
    }

    .box4 figcaption {
        width: 80%;
        padding: 3px;
        text-align: center;
        font-weight: bold;
    }

    .boder04 {
        width: 100%;
        margin: 0 0 0 0;
        height: auto;
        border-bottom: solid 2px #231815;
    }

    .box5 {
        width: 60%;
        height: auto;
        margin: 0 auto 0 auto;
    }

    .box5 ul {
        width: 100%;
    }

    .box5 li {
        width: calc(100% / 3);
        height: 100px;
        padding: 30px 0 0 0;
        font-weight: bold;
    }

    .box5 p {
        padding: 0 0 0 0;
        font-weight: bold;
        margin: 30px 0 0 0;
    }

    .day_a {
        width: 100%;
        display: flex;
    }

    .day_a_li_01 {
        margin: 0 0 0 60%;
    }

    .day_a_li_02 {
        margin: 0 0 0 35%;
    }

    .day_a_li_03 {
        margin: 0 0 0 45%;
    }

    .day_b {
        width: 60%;
        display: flex;
        text-align: center;

    }

    .box6 {
        width: 60%;
        height: auto;
        margin: 5% 20% 5% 20%;
    }

    .box6 p {
        margin: 0 0 0 15%;
        /*font-size: 1rem;*/
    }

    .box6 .h2 {
        text-align: left;
        padding: 20px 0 20px 0;
    }

    .box6 h3 {
        text-align: left;
        margin: 30px 0 5px 15%;;
        font-weight: bold;
        font-size: 1.25rem;
    }


    .box7 {
        width: 60%;
        height: auto;
        padding: 0 0 5% 0;
        margin: 0 20% 10px 20%;
    }

    .box7 h3 {
        text-align: left;
        margin: 30px 0 0 21%;;
        font-weight: bold;
    }

    /*.box7 h2 {*/
    /*    text-align: left;*/
    /*    padding: 20px 0 20px 35%;*/
    /*}*/

    .box7 h2 {
        text-align: left;
        padding: 20px 0 20px 0;
        margin: 0 0 0 0;
        font-weight: bold;
    }

    .box07_tishou {
        width: calc(100% / 2);
    }

    .box7_img_tishou {
        width: 20%;
        height: auto;
        margin: 5% 0 0 17%;
    }

    .box7_tishou_p {
        width: 120%;
        height: auto;
        font-weight: bold;
        margin: -16% 0 20px 40%;
        font-size: 2rem;
    }

    .box07_p {
        width: 35%;
        text-align: center;
        margin: 20px 0 0 20%;
        font-weight: bold;
        font-size: 1.5rem;
        border: 4px #FF0000 solid;
        border-radius: 50px 50px;
    }

    .box07_img {
        width: 7%;
        text-align: center;
        margin: 20px 0 0 32%;
    }

    .box7_01 {
        font-weight: bold;
        position: relative;
        top: 0;
        left: 60%;
    }

    .boder07 {
        /*width: 80%;*/
        margin: 0 0 0 0;
        height: auto;
        border-bottom: solid 2px #231815;
    }

    .box8 {
        width: 60%;
        height: auto;
        margin: 0 20% 0 20%;

    }

    .box8 h1 {
        text-align: center;
        font-size: 1.5rem;
        padding: 10px 0 10px 0;
        margin: 0 0 0 0;
        font-weight: bold;

    }

    .box8 h2 {
        text-align: left;
        padding: 10px 0 10px 0;
        margin: 0 0 0 0;
        font-weight: bold;

    }

    .box8 p {
        text-align: center;
        padding: 10px 0 10px 0;
        margin: 0 0 0 0;
        font-weight: bold;
        font-size: 1rem;
    }

    .box8 .tel {
        color: #000;
        font-size: 3rem;
    }

    .gmap {
        height: 0;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
    }

    .gmap iframe {
        position: absolute;
        left: 20%;
        top: 0;
        height: 60%;
        width: 60%;
    }

    footer {
        width: 100%;
        background: url("../image/header_back.png") no-repeat center center;
        background-size: cover;
        height: 600px;

    }

    #footer_b {
        padding: 20px 0 0 0;
        margin: 0 0 0 5%;
        font-weight: bold;
        font-size: 1rem
    }

    footer h2 img {
        width: 20%;
        height: auto;
        margin: 10px 0 0 5%;
    }

    footer h3 {
        margin: 0 0 0 2%;
        font-size: 1vw
    }

    #nav09 {
        width: 60%;
        position: relative;
        top: -150px;
        left: 35%;
        display: flex;
    }

    #nav09 li {
        width: 20%;
        height: 100px;
        text-align: center;
        margin: 0 0 0 3px;
        padding: 0 0 0 0;
        line-height: 100px;
    }

    #nav09 li a {
        width: 20%;
        height: 100px;
        padding: 10px 0 0 0;
        font-weight: bold;
    }

    #nav10 {
        width: 60%;
        position: relative;
        top: -150px;
        left: 40%;
        display: flex;
    }

    #nav10 li {
        width: 20%;
        height: 100px;
        text-align: center;
        margin: 3px 0 0 3px;
        padding: 0 0 0 0;
        line-height: 100px;
    }

    #nav10 li a {
        width: 20%;
        height: 100px;
        padding: 0 0 0 0;
        font-weight: bold;
    }

    /* 親要素(コンテナ) */
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    /* 子要素(アイテム) */
    .flex-item {

    }

    .img {
        width: calc(100% / 3);
        height: auto;
    }

    .image {
        width: calc(100% / 2);
        height: auto;
    }

    .font {
        width: calc(100% / 2);
        height: auto;
    }

    .font02 {
        width: calc(100% / 2);
        height: 100%;
    }
}
