@media screen and (min-width: 960px) {


    .box1 {
        position: absolute;
        top: 800px;
        width: 100%;
    }

    .box1 p {
        width: 50%;
        height: 100px;
        text-align: center;
        font-size: 1.5rem;
        padding: 0 0 0 0;
        font-weight: bold;
        line-height: 100px;
    }

    .box {
        width: 60%;
        height: auto;
        margin: 5% 20% 0 20%;
    }

    .box2 {
        /*margin-top: 700px;*/
    }

    /*.box2 ul {*/
    /*    width: 100%;*/
    /*    padding: 20px 0 0 15%;*/
    /*}*/

    /*.box2 li {*/
    /*    width: 100%;*/
    /*    line-height: 30px;*/
    /*    letter-spacing: 1px*/
    /*}*/

    .box3 {

    }

    .box4 {

    }

    .box4 figure {
        /*width: calc(100% / 3);*/
        /*min-width: 15%;*/
        /*max-height: 100%;*/
    }

    /*.box4 figure {*/
    /*    display: flex;*/
    /*    flex-flow: column;*/
    /*}*/

    /*.box4 .img {*/
    /*    width: auto;*/
    /*    max-width: 80%;*/
    /*    max-height: 100%;*/
    /*}*/

    /*.box4 figcaption {*/
    /*    width: 80%;*/
    /*    padding: 3px;*/
    /*    text-align: center;*/
    /*    font-weight: bold;*/
    /*}*/

    .box5 {

    }

    .box5 ul {
        /*width: 100%;*/
    }

    /*.box5 li {*/
    /*    width: calc(100% / 3);*/
    /*    height: 100px;*/
    /*    line-height: 100px;*/
    /*    font-weight: bold;*/
    /*}*/

    .box5 p {
        /*padding: 0 0 0 0;*/
        /*font-weight: bold;*/
        /*margin: 30px 0 0 0;*/
    }

    .day_a {
        /*width: 100%;*/
        /*display: flex;*/
    }

    .day_a_li_01 {
        /*margin: 0 0 0 60%;*/
        /*margin-left: auto;*/
        /*margin-right: 0;*/
        /*right: 0;*/
        /*text-align: right;*/
    }

    .day_a_li_02 {
        /*margin: 0 0 0 35%;*/
    }

    .day_a_li_03 {
        /*margin: 0 0 0 45%;*/
    }

    .day_b {
        /*width: 60%;*/
        /*display: flex;*/
        /*text-align: center;*/
    }

    .box6 {

    }

    .box7 {

    }

    .box7 h3 {
        text-align: left;
        margin: 30px 0 0 21%;;
        font-weight: bold;
    }

    .box7 h2 {
        text-align: left;
        padding: 20px 0 20px 0;
        margin: 0 0 0 0;
        font-weight: bold;
    }

    .box07_tishou {
        width: calc(100% / 2);
    }

    .box7_img_tishou {
        width: 20%;
        height: auto;
        margin: 5% 0 0 17%;
    }

    .box7_tishou_p {
        width: 120%;
        height: auto;
        font-weight: bold;
        margin: -16% 0 20px 40%;
        font-size: 2rem;
    }

    .box07_p {
        width: 35%;
        text-align: center;
        padding: 0.5rem;
        margin: 20px 0 0 20%;
        font-weight: bold;
        font-size: 1.5rem;
        border: 4px #e7273e solid;
        border-radius: 50px 50px;
    }

    .box07_img {
        width: 7%;
        text-align: center;
        margin: 20px 0 0 32%;
    }

    .box7_01 {
        font-weight: bold;
        position: relative;
        top: 0;
        left: 60%;
    }

    .box8 {

    }

    .gmap iframe {
        width: 100%;
        margin: 5% 0 5% 0;
    }

    footer {
        width: 100%;
        background: url("../image/header_back.png") no-repeat center center;
        background-size: cover;
        /*height: 600px;*/
    }

    .footer_b {
        padding: 20px 0 0 0;
        margin: 0 0 0 5%;
        /*font-weight: bold;*/
        /*font-size: 1rem*/
    }

    footer h2 img {
        width: 20%;
        height: auto;
        margin: 10px 0 0 5%;
    }

    footer .copyright {
        margin: 0 0 0 5%;
        font-size: 1rem
    }

    .nav09 {
        width: 60%;
        position: relative;
        top: -150px;
        left: 35%;
        display: flex;
    }

    .nav09 li {
        width: 20%;
        height: 100px;
        text-align: center;
        margin: 0 0 0 3px;
        padding: 0 0 0 0;
        line-height: 100px;
    }

    .nav09 li a {
        width: 20%;
        height: 100px;
        padding: 10px 0 0 0;
        font-weight: bold;
    }

    .nav10 {
        width: 60%;
        position: relative;
        top: -150px;
        left: 40%;
        display: flex;
    }

    .nav10 li {
        width: 20%;
        height: 100px;
        text-align: center;
        margin: 3px 0 0 3px;
        padding: 0 0 0 0;
        line-height: 100px;
    }

    .nav10 li a {
        width: 20%;
        height: 100px;
        padding: 0 0 0 0;
        font-weight: bold;
    }


    /*.img {*/
    /*    width: calc(100% / 3);*/
    /*    height: auto;*/
    /*}*/

    /*.image {*/
    /*    width: calc(100% / 2);*/
    /*    height: auto;*/
    /*}*/

    /*.font {*/
    /*    width: calc(100% / 2);*/
    /*    height: auto;*/
    /*}*/

    /*.font02 {*/
    /*    width: calc(100% / 2);*/
    /*    height: 100%;*/
    /*}*/
}
