@charset "utf-8";
/* CSS Document */
html {
font-size:62.5%;/*pxだと10px;*/
 
}
body {
font-family:"MS Pゴシック",sans-serif;
  background: url("../image/back03.webp");
  animation: bgiLoop 5s linear infinite;
}

a{
	text-decoration:none;
	color:#000000;
}
/* 通常時はホバー時の文字を非表示にする */
a .hover{
display: none;
}
/* ホバー時に、ホバー時の文字を表示する */
@keyframes bgiLoop {
    0% { background-position: 0 0;}
  100% { background-position: -100px 200px;}
}
@media screen and (max-width: 960px) {
/**************** 以下、メニューのスタイリング ****************/
		h1 img{
	/* ロゴの配置位置  */
	position: absolute;
	top: 5%;
	left: 5%;
	/* 最前面に */
	z-index: 10;
	/* ボタンの大きさ  */
	width: 30%;
	height: auto;
}
	#box2{
	width: 80%;
	height: auto;
	margin: 20% 10% 0 10% ;
	padding: 0;
	background:rgba(0,0,0,0.0);

}
	#box2 h2{
		text-align: center;
		padding: 0 0 20px 0 ;
		margin: 0;
	}
	#box2 h3{
		text-align: center;
		padding: 0 0 20px 0 ;
		margin: 0;
	}
#box3{
	width: 80%;
	height: auto;
	margin: 0% 10% 0% 10% ;
	padding: 0;
	background:rgba(0,0,0,0.0);

}
	#box3 h2{
		text-align: center;
		padding: 0 0 20px 0 ;
		margin: 0;
	}
	#box3 h3{
		text-align: center;
		padding: 0 0 20px 0 ;
		margin: 0;
	}
#box4{
	width: 80%;
	height: auto;
	margin: 0% 10% 0 10% ;
	padding: 0;
	background:rgba(0,0,0,0.0);

}
	#box4 h2{
		text-align: center;
		padding: 0 0 20px 0 ;
		margin: 0;
	}
	#box4 h3{
		text-align: center;
		padding: 0 0 20px 0 ;
		margin: 0;
	}
#box5{
	width: 80%;
	height: auto;
	margin: 0% 10% 0 10% ;
	padding: 0;
	background:rgba(0,0,0,0.0);

}
	#box5 h2{
		text-align: center;
		padding: 0 0 20px 0 ;
		margin: 0;
	}
	#box5 h3{
		text-align: center;
		padding: 0 0 20px 0 ;
		margin: 0;
	}
#box6{
	width: 80%;
	height: auto;
	margin: 0% 10% 0 10% ;
	padding: 0;
	background:rgba(0,0,0,0.0);

}
	#box6 h2{
		text-align: center;
		padding: 0 0 20px 0 ;
		margin: 0;
	}
	#box6 h3{
		text-align: center;
		padding: 0 0 20px 0 ;
		margin: 0;
	}
	#box7{
	width: 80%;
	height: auto;
	margin: 0% 10% 0 10% ;
	padding: 0;
	background:rgba(0,0,0,0.0);

}
	#box7 h2{
		text-align: center;
		padding: 0 0 20px 0 ;
		margin: 0;
	}
	#box7 h3{
		text-align: center;
		padding: 0 0 20px 0 ;
		margin: 0;
	}
	.flex-container {
	display: flex;
	flex-wrap: wrap;
}
/* 子要素(アイテム) */
.flex-item {

}

}
@media screen and (min-width: 960px) {
/**************** 以下、メニューのスタイリング ****************/
	h1 img{
		position: relative;
		left: 37%;
		width: 35%;
		height: auto;
	}
	#box2{
	width: 60%;
	height: auto;
	margin: 0 20% 0 20% ;
	background:rgba(0,0,0,0.0);
}
	#box2 h2{
		text-align: center;
		padding: 20px 0 20px 0 ;
	}
	#box2 h3{
		text-align: center;
		padding: 20px 0 20px 0 ;
	}
		#box3{
	width: 60%;
	height: auto;
	margin: 0% 20% 0 20% ;
	background:rgba(0,0,0,0.0);

}
	#box3 h2{
		text-align: center;
		padding: 20px 0 20px 0 ;
	}
	
	#box3 h3{
		text-align: center;
		padding: 20px 0 20px 0 ;
	}

		#box4{
			width: 60%;
			height: auto;
			margin: 0% 20% 0 20% ;
	background:rgba(0,0,0,0.0);

}
	#box4 h2{
		text-align: center;
		padding: 20px 0 20px 0 ;
	}
	#box4 h3{
		text-align: center;
		padding: 20px 0 20px 0 ;
	}
			#box5{
	width: 60%;
	height: auto;
	margin: 0% 20% 0 20% ;
	background:rgba(0,0,0,0.0);

}
	#box5 h2{
		text-align: center;
		padding: 20px 0 20px 0 ;
	}
	#box5 h3{
		text-align: center;
		padding: 20px 0 20px 0 ;
	}
			#box6{
	width: 60%;
	height: auto;
	margin: 0% 20% 0 20% ;
	background:rgba(0,0,0,0.0);

}
	#box6 h2{
		text-align: center;
		padding: 20px 0 20px 0 ;
	}
	#box6 h3{
		text-align: center;
		padding: 20px 0 20px 0 ;
	}
				#box7{
	width: 60%;
	height: auto;
	margin: 0% 20% 0 20% ;
	background:rgba(0,0,0,0.0);

}
	#box7 h2{
		text-align: center;
		padding: 20px 0 20px 0 ;
	}
	#box7 h3{
		text-align: center;
		padding: 20px 0 20px 0 ;
	}
	.flex-container {
	display: flex;
	flex-wrap: wrap;
}
/* 子要素(アイテム) */
.flex-item {

}

}
