@media screen and (max-width: 960px) {
    .b_style {
        position: absolute;
        top: 5%;
        left: 5%;
        font-weight: bold;
        color: #595757;
        width: 95%;
        height: auto;
        z-index: 10;
    }

    h1 img {
        /* ロゴの配置位置  */
        position: absolute;
        top: 10%;
        left: 5%;
        /* 最前面に */
        z-index: 10;
        /* ボタンの大きさ  */
        width: 50%;
        /*height: auto;*/
        /*margin: 0 0 0 0;*/
        /*border-bottom: solid 1px;*/
        /*border-bottom-color: #595757;*/

    }

    .p_style {
        position: absolute;
        top: 20%;
        left: 5%;
        color: #595757;
        font-weight: bold;
        width: 95%;
        height: auto;
        z-index: 10;
    }

    .nav01 {
        width: 40%;
        position: absolute;
        top: 330px;
        left: 60%;
    }

    .nav01 li {
        width: 100%;
        height: 70px;
        margin: 3px 0 0 0;
        text-align: center;
        padding: 0 0 0 0;
        line-height: 70px;
    }

    .nav01 li a {
        width: 100%;
        height: 70px;
        padding: 10px 0 0 0;
        font-weight: bold;
    }

    .nav02 {
        width: 40%;
        position: absolute;
        top: 618px;
        left: 60%;
        margin: 3px 0 0 0;
    }

    .nav02 li {
        width: 100%;
        height: 70px;
        margin: 3px 0 0 0;
        text-align: center;
        padding: 0 0 0 0;
        line-height: 70px;
    }

    .nav02 li a {
        width: 100%;
        height: 70px;
        padding: 10px 0 0 0;
        font-weight: bold;
    }

    .box0 {
        width: 100%;
        height: 500px;
        background: url("../image/header_back.png") repeat-y;
        background-size: cover;
    }

    .box1 {
        position: absolute;
        top: 843px;
        width: 100%;
    }

    .box1 p {
        width: 50%;
        height: 100px;
        text-align: center;
        font-size: 1rem;
        padding: 0 0 0 0;
        font-weight: bold;
        line-height: 100px;
    }

    .girl01 {
        position: absolute;
        top: 20%;
        left: 0;
    }

    .girl01 img {
        width: 55%;
        height: auto;
    }

    .girl02_img {
        background: url("../image/girl04.png") no-repeat center;
        background-size: cover;
    }

    .box {
        width: 80%;
        height: auto;
        margin: 5% 10% 0 10%;
    }

    .box2 {
        /*margin-top: 700px;*/
    }

    /*.box2 ul {*/
    /*    width: 100%;*/
    /*    padding: 20px 0 0 15%;*/
    /*}*/

    /*.box2 li {*/
    /*    width: 100%;*/
    /*    line-height: 30px;*/
    /*    letter-spacing: 1px;*/
    /*    font-weight: bold;*/
    /*}*/

    .box3 {

    }

    .box4 {

    }

    .box4 figure {
        /*width: calc(100% / 1);*/
        /*min-width: 15%;*/
        /*max-height: 100%;*/
    }

    /*.box4 figure {*/
    /*    display: flex;*/
    /*    flex-flow: column;*/
    /*}*/

    /*.box4 .img {*/
    /*    width: auto;*/
    /*    max-width: 100%;*/
    /*    max-height: 100%;*/
    /*}*/

    /*.box4 figcaption {*/
    /*    width: 100%;*/
    /*    padding: 3px;*/
    /*    text-align: center;*/
    /*}*/

    .box5 {

    }

    .box5 ul {
        /*width: 50%;*/
    }

    .box5 li {
        /*width: 100%;*/
        /*height: 100px;*/
        /*padding: 30px 0 0 0;*/
        /*margin: 0 0 3px 0;*/
        /*font-weight: bold;*/
    }

    .box5 p {
        /*width: 100%;*/
        /*padding: 0 0 0 0;*/
        /*font-weight: bold;*/
        /*margin: 30px 0 0 0;*/
    }

    .day_a {
        /*width: 100%;*/
    }

    .day_a_li_01 {
        /*margin: 0 0 0 0;*/
    }

    .day_a_li_02 {
        /*margin: 0 0 0 0;*/
    }

    .day_a_li_03 {
        /*margin: 0 0 0 0;*/
    }

    .day_b {
        /*width: 100%;*/
        /*text-align: center;*/
        /*margin: 30px 0 0 0;*/
    }

    .box6 {

    }

    .box7 {

    }

    .box7 .h2 {
        text-align: center;
        padding: 20px 0 20px 0;
        margin: 0 0 0 0;
    }

    .box07_tishou {
        width: calc(100% / 2);
    }

    .box7_img_tishou {
        width: 25%;
        height: auto;
        margin: 10% 0 0 0;
    }

    .box7_tishou_p {
        width: 120%;
        height: auto;
        font-weight: bold;
        margin: -20% 0 20px 25%;
        font-size: 1rem;
    }

    .box07_p {
        width: 75%;
        text-align: center;
        padding: 0.25rem;
        margin: 20px 0 0 20%;
        font-weight: bold;
        font-size: 1.25rem;
        border: 4px #e7273e solid;
        border-radius: 50px 50px;
    }

    .box07_img {
        width: 10%;
        text-align: center;
        margin: 20px 0 0 50%;
    }

    .box7_01 {
        font-weight: bold;
        position: relative;
        top: 0;
        left: 60%;
    }

    .box8 {

    }

    .gmap iframe {
        width: 100%;
        height: auto;
        margin: 5% 0 5% 0;
    }

    footer {
        /*height: 600px;*/
    }

    .box9 {
        background: url("../image/header_back.png") repeat-y;
        background-size: cover;
    }

    .footer_b {
        /*font-weight: bold;*/
        margin: 0 0 0 5%;
    }

    footer h2 img {
        width: 40%;
    }

    footer .copyright {
        display: block;
        text-align: center;
    }

    .nav09 {
    }

    .nav09 li {
        text-align: center;
        height: 70px;
        margin: 0 0 2px 0;
        padding: 0 0 0 0;
        line-height: 70px;
    }

    .nav09 li a {
        font-weight: bold;
    }

    .nav10 {

    }

    .nav10 li {
        text-align: center;
        height: 70px;
        margin: 0 0 2px 0;
        padding: 0 0 0 0;
        line-height: 70px;
    }

    .nav10 li a {
        font-weight: bold;
    }

    /*div h2 {*/
    /*    font-size: 1.5rem; !*8px*!*/
    /*    padding: 10px;*/
    /*}*/

    /*.img {*/
    /*    width: 50%;*/
    /*    height: auto;*/
    /*}*/

    /*.image {*/
    /*    width: calc(100% / 1);*/
    /*    height: auto;*/
    /*}*/

    /*.font {*/
    /*    width: calc(100% / 1);*/
    /*    height: auto;*/
    /*}*/

    /*.font02 {*/
    /*    width: calc(100% / 1);*/
    /*    height: 100%;*/
    /*}*/
}
