@charset "utf-8";
/* CSS Document */
/*html {*/
/*    font-size: 62.5%; !*pxだと10px;*!*/
/*}*/

body {
    font-size: 1rem;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

h2 {
    font-size: 2.5rem; /*8px*/
}

* {
    /*box-sizing: border-box;*/
    margin: 0;
    padding: 0;
}

::before, ::after {
    box-sizing: inherit;
}

header {
    height: 300px;
    margin-top: 5%;
}

.scroll-smooth {
    scroll-behavior: smooth;
}

.text-white {
    color: #fff;
}

.p-2 {
    padding: 0.5rem; /* 8px */
}

.m-2 {
    margin: 0.5rem; /* 8px */
}

.color01 {
    background-color: #FABD00;
}

.color01_1 {
    color: #FABD00;
}

.color02 {
    background-color: #7BBE3A;
}

.color02_1 {
    color: #7BBE3A;
}

.color03 {
    background-color: #00B8EC;
}

.color03_1 {
    color: #00B8EC;
}

.color04 {
    background-color: #ED7058;
}

.color04_1 {
    color: #ED7058;
}

.color05 {
    background-color: #EC6D7C;
}

.color05_1 {
    color: #EC6D7C;
}

#color05 {
    background-color: #EC6D7C;
}

.color06 {
    background-color: #F2942C;
}

.color06_1 {
    color: #F2942C;
}

.color07 {
    background-color: #036EB8;
}

.color07_1 {
    color: #036EB8;
}

.color08 {
    color: #EA5762;
}

.color09 {
    color: #57b441;
}

.color10 {
    color: #ea5762;
}

.color11 {
    background-color: #13ae67;
}

.color12 {
    background-color: #f8b62d;
}

.color13 {
    background-color: #2ea7e0;
}

.color14 {
    color: #EC6D7C;
    font-weight: bold;
}

.color15 {
    color: #e7273e;
}

.color16 {
    color: #e83828;
}

.color17 {
    color: #231815;
}

.header {
    width: 100%;
    height: 300px;
}


.h2_border {
    border-bottom: solid 2px #595757;
}
