@charset "utf-8";
/* CSS Document */
/*html {*/
/*    font-size: 62.5%; !*pxだと10px;*!*/
/*}*/

body {
    font-size: 1rem;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

h2 {
    font-size: 2.5rem; /*8px*/
}

* {
    /*box-sizing: border-box;*/
    margin: 0;
    padding: 0;
}

::before, ::after {
    box-sizing: inherit;
}

header {
    height: 300px;
    margin-top: 5%;
}

.scroll-smooth {
    scroll-behavior: smooth;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.text-gray {
    color: #595757;
}

.font-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-xl {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

.text-2xl {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

.text-3xl {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}

.text-4xl {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
}

.text-5xl {
    font-size: 3rem; /* 48px */
    line-height: 1;
}

.p-2 {
    padding: 0.5rem; /* 8px */
}

.p-4 {
    padding: 1rem; /* 8px */
}

.py-4 {
    padding-top: 1rem; /* 8px */
    padding-bottom: 1rem; /* 8px */
}

.m-2 {
    margin: 0.5rem; /* 8px */
}

.my-2 {
    margin-top: 0.5rem; /* 8px */
    margin-bottom: 0.5rem; /* 8px */
}

.m-4 {
    margin: 1rem; /* 8px */
}

.leading-10 {
    line-height: 2.5rem; /* 40px */
}

.bg-yellow {
    background-color: #f9bc00;
}

.text-yellow {
    color: #f9bc00;
}

.bg-lime {
    background-color: #7bbd39;
}

.text-lime {
    color: #7bbd39;
}

.bg-sky {
    background-color: #00b7eb;
}

.text-sky {
    color: #00b7eb;
}

.bg-red {
    background-color: #ec7058;
}

.text-red {
    color: #ec7058;
}

.bg-pink {
    background-color: #eb6d7c;
}

.text-pink {
    color: #eb6d7c;
}

.bg-orange {
    background-color: #f1932c;
}

.text-orange {
    color: #f1932c;
}

.bg-blue {
    background-color: #036eb7;
}

.text-blue {
    color: #036eb7;
}

.color08 {
    color: #EA5762;
}

.color09 {
    color: #57b441;
}

.color10 {
    color: #ea5762;
}

.bg-green {
    background-color: #13ae67;
}

.color12 {
    background-color: #f8b62d;
}

.color13 {
    background-color: #2ea7e0;
}

.color14 {
    color: #EC6D7C;
    font-weight: bold;
}

.bg-rose {
    background-color: #e7273e;
}

.text-rose {
    color: #e7273e;
}

.color16 {
    color: #e83828;
}

.color17 {
    color: #231815;
}

.header {
    width: 100%;
    height: 300px;
}

.h2_border {
    padding: 20px 0 10px 0;
    font-size: 1.75rem;
    font-weight: bold;
    border-bottom: solid 2px #595757;
}

.w-full {
    width: 100%;
}

.w-1\/2 {
    width: 50%;
}

.w-1\/3 {
    width: 33.333333%;
}

.w-1\/5{
    width: 20%;
}

.w-3\/5{
    width: 60%;
}

.h-auto {
    height: auto;
}
