<section class="pcs:box" id="feature">
    <h2 class="pcs:h2_border text-sky border-sky text-center md:text-left">ポップカルチャースタジオ未来図の特徴</h2>
    <div class="flex flex-col md:flex-row flex-wrap md:flex-nowrap">

        <div class="w-full md:w-1/5 my-4">
            <img class="object-contain pcs:scale-up-image" src="/image/feature1.jpg" alt="">
        </div>

        <p class="w-full md:w-3/5 p-4">
            <span class="text-sky font-bold">好きなこと楽しいことを仕事に</span><br>
            イラスト マンガ アニメ ゲーム 音楽 好きな分野で就労<br>
            <br>
            <span class="text-sky font-bold">クリエイターとしての能力を身につける</span><br>
            PCSではスキルアップのために様々な講義を行っています</p>

        <div class="w-full md:w-1/5 my-4">
            <img class="object-contain pcs:scale-up-image" src="/image/feature2.jpg" alt="">
        </div>

    </div>
    <div class="flex flex-col md:flex-row flex-wrap md:flex-nowrap">

        <div class="w-full md:w-1/5 my-4">
            <img class="object-contain pcs:scale-up-image" src="/image/feature3.jpg" alt="">
        </div>

        <p class="w-full md:w-3/5 p-4">
            <span class="text-sky font-bold">自分のリズム&nbsp;ペースで就労</span><br>
            個人に合わせた計画を作り 目標達成を目指します<br><br>
            <span class="text-sky font-bold">個性に合わせた在宅サポート</span><br>
            SNSやメールでスタッフが随時対応いたします</p>

        <div class="w-full md:w-1/5 my-4">
            <img class="object-contain pcs:scale-up-image" src="/image/feature4.jpg" alt="">
        </div>
    </div>
</section>
