<section class="pcs:box" id="flow_of_the_day">
    <h2 class="pcs:h2_border border-lime text-lime text-center md:text-left">1日の流れ</h2>

    <h3 class="text-xl text-pink py-4">・Aさん（通所で利用の場合）</h3>

    <div class="grid grid-cols-2 md:grid-cols-none font-bold">
        <div class="grid grid-rows-3 grid-flow-col w-full md:grid-rows-none md:grid-cols-3 ">
            <div class="w-full h-24 md:h-8 md:self-end">
                <span class="text-blue">10時（通所）</span>
            </div>
            <div class="w-full h-24 md:h-8 md:self-end">
                <span class="text-blue">12時（昼食）</span>
            </div>
            <div class="w-full h-24 md:h-8 flex items-end md:self-end md:flex-none md:inline md:text-right">
                <span class="text-blue">15時（退所）</span>
            </div>
        </div>

        <div class="grid grid-rows-3 grid-flow-col w-full md:grid-rows-none md:grid-cols-3 text-center">
            <div class="w-full h-24 bg-green flex justify-center items-center">
                <span class="text-white">作&nbsp;業</span></div>
            <div class="w-full h-24 bg-yellow flex justify-center items-center">
                <span class="text-white">昼休み</span>
            </div>
            <div class="w-full h-24 bg-green flex justify-center items-center">
                <span class="text-white">作　業</span>
            </div>
        </div>
    </div>

    <h3 class="text-xl text-lime py-4">・Bさん（他の福祉サービスとの併用の場合）</h3>

    <div class="grid grid-cols-2 md:grid-cols-none font-bold">
        <div class="grid grid-rows-3 grid-flow-col w-full md:grid-rows-none md:grid-cols-3 ">
            <div class="w-full h-24 md:h-8 md:self-end">
                <span class="text-blue">10時（通所）</span>
            </div>
            <div class="w-full h-24 md:h-8 md:self-end">
                <span class="text-blue">12時（昼食）</span>
            </div>
            <div class="w-full h-24 md:h-8 md:self-end">
                <span class="text-blue">13時（退所）</span>
            </div>
        </div>

        <div class="grid grid-rows-3 grid-flow-col w-full md:grid-rows-none md:grid-cols-3 text-center">
            <div class="w-full h-24 bg-green flex justify-center items-center">
                <span class="text-white">作&nbsp;業</span>
            </div>
            <div class="w-full h-24 bg-yellow flex justify-center items-center">
                <span class="text-white">昼休み</span>
            </div>
            <div class="w-full h-24 bg-sky flex justify-center items-center">
                <span class="text-white">他の福祉サービス</span>
            </div>
        </div>
    </div>

    <h3 class="text-xl text-orange py-4">・Cさん（在宅ワークの場合）</h3>

    <div class="grid grid-cols-2 md:grid-cols-none font-bold">
        <div class="grid grid-rows-3 grid-flow-col w-full md:grid-rows-none md:grid-cols-3 ">
            <div class="w-full h-24 md:h-8 md:self-end">
                <span class="text-blue">10時（作業開始）</span>
            </div>
            <div class="w-full h-24 md:h-8 md:self-end">
                <span class="text-blue">12時（昼食）</span>
            </div>
            <div class="w-full h-24 md:h-8 flex items-end md:self-end md:flex-none md:inline md:text-right">
                <span class="text-blue">15時（成果報告）</span>
            </div>
        </div>

        <div class="grid grid-rows-3 grid-flow-col w-full md:grid-rows-none md:grid-cols-3 text-center">
            <div class="w-full h-24 bg-green flex justify-center items-center">
                <span class="text-white">作&nbsp;業</span>
            </div>
            <div class="w-full h-24 bg-yellow flex justify-center items-center">
                <span class="text-white">昼休み</span>
            </div>
            <div class="w-full h-24 bg-green flex justify-center items-center">
                <span class="text-white">作　業</span>
            </div>
        </div>
    </div>
</section>
