<section class="pcs:box" id="how_t_use">
    <h2 class="pcs:h2_border border-rose text-rose text-center md:text-left">ご利用方法</h2>
    <div class="flex flex-row flex-wrap mt-10">
        <img class="w-14 md:w-32" src="/image/shougai.png" alt="障害">
        <p class="w-auto text-rose mt-3 md:mt-10 font-bold text-md md:text-3xl pl-2">障がいまたは疾病のある方</p>
    </div>

    <p class="text-rose pcs:rounded-rose w-auto md:w-3/4 mx-auto text-center mt-3">電話orメールで申込</p>
    <img class="w-10 mx-auto my-3" src="/image/riyou.png" alt="利用">
    <p class="text-rose pcs:rounded-rose w-auto md:w-3/4 mx-auto text-center">体験・見学</p>
    <img class="w-10 mx-auto my-3" src="/image/riyou.png" alt="利用">
    <p class="text-rose pcs:rounded-rose w-auto md:w-3/4 mx-auto text-center">利用申込</p>
    <img class="w-10 mx-auto my-3" src="/image/riyou.png" alt="利用">
    <p class="text-rose pcs:rounded-rose w-auto md:w-3/4 mx-auto text-center">障害福祉サービス受給者証の申込</p>
    <img class="w-10 mx-auto my-3" src="/image/riyou.png" alt="利用">
    <p class="text-rose pcs:rounded-rose w-auto md:w-3/4 mx-auto text-center">利用開始</p>
</section>
