<section class="mt-80" id="pcs">
    <img src="/image/girl02.png" class="absolute h-fit object-cover overflow-hidden opacity-30 -z-10 md:hidden"
         alt="">

    <div class="pcs:box">
        <h2 class="pcs:h2_border text-pink border-pink text-center md:text-left">未来型就労支援<br/>
            ポップカルチャースタジオ未来図とは</h2>

        <div class="flex flex-row flex-wrap">
            <div class="w-full md:w-3/4">
                <h3 class="p-4 text-xl drop-shadow-md">『自分らしく働く』ことをサポートする新時代のオフィス</h3>
                <p class="text-gray leading-10">複雑な社会情勢の影響で私たちは新しい形の働き方を創造し、<br>
                    自分らしさを大切に生きて行く事が最も重要視される社会への<br>
                    スタートラインに立たされています。<br>
                    そこでPCSは次世代高速通信技術「5G」時代に先駆け、<br>
                    「5G」時代を生き抜く為のマインドと技術的スキルを提案し、<br>
                    自分らしく働くことの道標となるよう<br>
                    PCSは皆様と共に新しい時代の扉を開け、<br>
                    明るい未来へ歩めたらと考えています。</p>
            </div>
            <div class="w-full md:w-1/4 md:text-right">
                <img class="hidden md:inline w-auto" src="/image/girl02.png" alt="女の子">
            </div>
        </div>
        <h2 class="pcs:h2_border text-red border-red text-center md:text-left">PCSでの活動を通じて…</h2>
        <div class="flex flex-row flex-wrap">
            <div class="w-full md:w-1/2 text-gray">
                <ul class="list-disc leading-10 py-4 ml-8">
                    <li>通所することで生活リズムを身につける</li>
                    <li>自分の意思で作業に向かうことができる</li>
                    <li>社会性や協調性を身につける</li>
                    <li>就労に必要な技術を身につける</li>
                </ul>
            </div>
            <div class="w-full md:w-1/2">
                <img class="w-full md:w-3/5 p-1 md:p-4 pcs:scale-up-image" src="/image/about1.jpg" alt="">
            </div>

        </div>
        <div class="flex flex-row flex-wrap">
            <div class="w-full md:w-1/2">
                <img class="w-full md:w-3/5 p-1 md:p-4 pcs:scale-up-image" src="/image/about2.jpg" alt="">
            </div>

            <div class="w-full md:w-1/2 p-4">
                <div class="bg-gradient-to-br from-yellow-200 to-white rounded-full p-4 text-center">
                        <span class="text-red text-2xl font-bold">得意なことを見つけ<br/>
                            『働く喜び』を実感</span>
                </div>
            </div>
        </div>
    </div>
</section>
