<section class="pcs:box" id="question">
    <h2 class="pcs:h2_border border-yellow text-yellow text-center md:text-left">よくある質問</h2>
    <dl class="m-2">
        <dt class="text-yellow text-xl font-bold my-2">Q . 技術が無いのですが大丈夫ですか？</dt>
        <dd>
            <span class="text-yellow">A . </span>スキルアップのための講座やその方にあった作業を提供いたしますので初心者でもご安心ください。
        </dd>
        <dt class="text-yellow text-xl font-bold my-2">Q . 見学や体験はできますか？</dt>
        <dd>
            <span class="text-yellow">A . </span>随時受け付けております。電話やメール、お問い合わせフォームよりお申し込みください。
        </dd>
        <dt class="text-yellow text-xl font-bold my-2">Q . 昼食の提供はありますか？</dt>
        <dd>
            <span class="text-yellow">A . </span>はい、あります。
        </dd>
    </dl>
</section>
