<div class="text-center font-bold space-y-4 pt-3 border-t-2" id="fukuoka2">
    <h3 class="text-pink text-3xl">ポップカルチャースタジオ未来図 福岡2号館</h3>
    <div class="text-sm text-gray">2023年5月オープン</div>
    <div class="text-red-500">見学 体験 受付中！！お気軽にご連絡ください</div>
    <div>
        <a href="tel:0922925417" target="_blank" class="text-black text-5xl hover:underline">092-260-9013</a>
    </div>
    <div>メール … <a href="mailto:pcs_fukuoka2@pfijp.com"
                  class="text-blue hover:underline">pcs_fukuoka2@pfijp.com</a></div>
    <div>定休日 … 毎週日・祝日</div>
    <div>利用時間 … AM10:00～PM3:00</div>
    <div>住所 … 福岡県福岡市博多区博多駅前4丁目13-8 オクターブビル3階</div>
    <div>
        <!--        <a href="https://snabi.jp/facility/19496"-->
        <!--           class="text-blue hover:underline" target="_blank">LITALICO仕事ナビ️</a>-->
    </div>
</div>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.7204816584194!2d130.4195259!3d33.586605999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35419121a3cafa53%3A0xbf0dfd3ac5688960!2z44Od44OD44OX44Kr44Or44OB44Oj44O844K544K_44K444Kq5pyq5p2l5ZuzIOemj-WyoTLlj7fppKg!5e0!3m2!1sja!2sjp!4v1684632803917!5m2!1sja!2sjp"
            width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" class="w-full h-auto md:h-[600px] my-6"></iframe>
</div>
