<div class="text-center font-bold space-y-4 pt-3 border-t-2" id="kokura">
    <h3 class="text-green text-3xl">ポップカルチャースタジオ未来図 小倉</h3>
    <div class="text-sm text-gray">2022年3月オープン</div>
    <div class="text-red-500">見学 体験 受付中！！お気軽にご連絡ください</div>
    <div>
        <a href="tel:0933838211" target="_blank" class="text-black text-5xl hover:underline">093-383-8211</a>
    </div>
    <div>メール … <a href="mailto:pcs_kokura@pfijp.com" class="text-blue hover:underline">pcs_kokura@pfijp.com</a>
    </div>
    <div>定休日 … 毎週日・祝日</div>
    <div>利用時間 … AM10:00～PM3:00</div>
    <div>住所 … 福岡県北九州市小倉北区浅野2丁目17−1 畠中ビル6F</div>
    <div>
        <a href="https://snabi.jp/facility/22928"
           class="text-blue hover:underline" target="_blank">LITALICO仕事ナビ</a>
    </div>
</div>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.1112718983495!2d130.886937!3d33.88678799999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x70676c2eb18aa5f8!2z44Od44OD44OX44Kr44Or44OB44Oj44O844K544K_44K444Kq5pyq5p2l5ZuzIOWwj-WAiQ!5e0!3m2!1sja!2sjp!4v1653017334275!5m2!1sja!2sjp"
            width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" class="w-full h-auto md:h-[600px]  my-6"></iframe>
</div>
