<div class="text-center font-bold space-y-4 pt-3 border-t-2" id="nagoya">
    <h3 class="text-orange text-3xl">ポップカルチャースタジオ未来図 名古屋</h3>
    <div class="text-sm text-gray">2023年9月オープン</div>
    <div>
        <a href="tel:0522283071" target="_blank" class="text-black text-5xl hover:underline">052-228-3071</a>
    </div>
    <div>メール … <a href="mailto:pcs.nagoya901@gmail.com"
                  class="text-blue hover:underline">pcs.nagoya901@gmail.com</a></div>
    <div>定休日 … <span class="font-normal">毎週日・祝日</span></div>
    <div>利用時間 … <span class="font-normal">10:00～15:00</span></div>
    <div>住所 … <span class="font-normal">愛知県名古屋市中区錦1-10-12 ルミライズ伏見4階</span></div>
    <div>
        <a href="https://snabi.jp/facility/26560"
           class="text-blue hover:underline" target="_blank">LITALICO仕事ナビ️</a>
    </div>
</div>
