<div class="text-center font-bold space-y-4 pt-3 border-t-2" id="sannomiya">
    <h3 class="text-yellow text-3xl">ポップカルチャースタジオ未来図 三宮</h3>
    <div class="text-sm text-gray">2023年6月オープン</div>
    <div>
        <a href="tel:0785995975" target="_blank" class="text-black text-5xl hover:underline">078-599-5975</a>
    </div>
    <div>メール … <a href="mailto:pcs_sannomiya@pfijp.com"
                  class="text-blue hover:underline">pcs_sannomiya@pfijp.com</a></div>
    <div>定休日 … <span class="font-normal">毎週日・祝日</span></div>
    <div>利用時間 … <span class="font-normal">AM10:00～PM3:00</span></div>
    <div>住所 … <span class="font-normal">兵庫県神戸市中央区加納町3丁目1-26 ユニバーサル神戸ビル5階</span></div>
    <div>
        <a href="https://snabi.jp/facility/26421"
           class="text-blue hover:underline" target="_blank">LITALICO仕事ナビ️</a>
    </div>
</div>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13122.323211230025!2d135.17395634504953!3d34.69052796676789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60008ee42e754055%3A0xf754a9b35035bcca!2z44Om44OL44OQ44O844K144Or56We5oi444OT44Or!5e0!3m2!1sja!2sjp!4v1684632221892!5m2!1sja!2sjp"
            width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" class="w-full h-auto md:h-[600px] my-6"></iframe>
</div>
