<footer class="bg-[url('/image/header_back.png')] bg-repeat-y md:bg-no-repeat bg-cover">
    <div class="md:grid md:grid-cols-2">
        <div class="p-6">
            <p>就労継続支援B型事業所</p>
            <h2>
                <a href="/">
                    <img src="/image/logo.png" class="w-auto py-2" alt="ポップカルチャースタジオ未来図">
                </a>
            </h2>
            <small>Copyright&copy; ポップカルチャースタジオ未来図 All Rights Reserved.</small>
            <div class="text-sm">制作 <a href="https://pcs-works.vercel.app/" class="text-blue" target="_blank">PCS開発チーム</a>
            </div>
        </div>

        {{> footer/nav }}
    </div>
</footer>
