<nav class="h-fit w-full font-bold flex flex-col p-6">
    <ul class="w-full grid grid-cols-1 md:grid-cols-4 gap-y-1 md:gap-x-1 md:mr-0 z-10">
        <li class="bg-pink">
            <a class="text-white pcs:nav-button" href="#pcs">PCSとは</a>
        </li>
        <li class="bg-sky">
            <a class="text-white pcs:nav-button" href="#feature">特徴</a>
        </li>
        <li class="bg-orange">
            <a class="text-white pcs:nav-button" href="#job_description">仕事内容</a>
        </li>
        <li class="bg-lime">
            <a class="text-white pcs:nav-button" href="#flow_of_the_day">1日の流れ</a>
        </li>
    </ul>
    <ul class="w-full grid grid-cols-1 md:grid-cols-4 gap-y-1 md:gap-x-1 z-10 mt-1 md:self-center">
        <li class="bg-yellow">
            <a class="text-white pcs:nav-button" href="#question">よくある質問</a>
        </li>
        <li class="bg-rose">
            <a class="text-white pcs:nav-button" href="#how_t_use">ご利用方法</a>
        </li>
        <li class="bg-red">
            <a class="text-white pcs:nav-button" href="#location">施設情報</a>
        </li>
        <li class="bg-note">
            <a class="text-white pcs:nav-button" href="#blog">メンバーブログ</a>
        </li>
    </ul>
</nav>
