<header>
    <div class="h-fit pt-1 pb-6 md:pb-20">
        <div id="top">
            <div class="mt-3 ml-3 md:mt-0 md:w-2/3 md:ml-auto md:mr-0 text-gray md:p-2">
                {{> header/sns }}

                <div class="pb-1 md:text-lg">就労継続支援B型事業所</div>
                <h1>
                    <a href="/">
                        <img src="/image/logo.png" class="w-full md:w-4/5 pr-3" alt="ポップカルチャースタジオ未来図">
                    </a>
                </h1>
                <div class="pt-3 font-bold md:text-2xl text-rose">ポップカルチャーであなたの夢を形に</div>
                <div class="pt-3">福岡県（<a href="#fukuoka" class="underline text-blue">福岡市</a>、<a href="#kokura" class="underline text-blue">北九州市</a>）、兵庫県（<a href="#sannomiya" class="underline text-blue">神戸市</a>）、愛知県（<a href="#nagoya" class="underline text-blue">名古屋市</a>）で営業中</div>
            </div>

            <div class="absolute top-64 md:top-10 w-1/2 md:w-1/4 left-0">
                <img src="/image/girl01.png" alt="女の子">
            </div>
        </div>
    </div>

    <div class="h-fit w-full bg-[url('/image/header_back.png')] bg-repeat-y md:bg-no-repeat bg-cover -z-50">
        {{> header/nav}}
    </div>
</header>
