<div class="w-full">
    <div class="grid grid-flow-col text-base md:text-2xl font-bold">
        <div class="bg-pink w-auto opacity-90 hover:opacity-80">
            <a href="#fukuoka" class="text-white pcs:nav-button drop-shadow-md">博多（福岡市）</a>
        </div>
        <div class="bg-green w-auto opacity-90 hover:opacity-80">
            <a href="#kokura" class="text-white pcs:nav-button drop-shadow-md">小倉（北九州市）</a>
        </div>
        <div class="bg-yellow w-auto opacity-90 hover:opacity-80">
            <a href="#sannomiya" class="text-white pcs:nav-button drop-shadow-md">三宮（神戸市）</a>
        </div>
    </div>
</div>
