<ul class="flex gap-x-3 justify-end mr-6">
    <li>
        <a href="https://note.com/pcs_miraizu" target="_blank">
            <img src="/image/note_logo.png"
                 class="w-6 md:w-8"
                 alt="PCS未来図メンバーブログ"
                 title="PCS未来図メンバーブログ">
        </a>
    </li>
    <li>
        <a href="https://twitter.com/PCS_miraizu" target="_blank">
            <img src="/image/twitter.png"
                 class="w-6 md:w-8"
                 alt="Twitter"
                 title="Twittter">
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/pcs_miraizu/" target="_blank">
            <img src="/image/instagram.png"
                 class="w-6 md:w-8"
                 alt="Instagram"
                 title="Instagram">
        </a>
    </li>
    <li>
        <a href="https://www.youtube.com/channel/UCGlJLfwU0Sl80kPhYxd9IIg" target="_blank">
            <img src="/image/youtube.png"
                 class="w-6 md:w-8"
                 alt="YouTube"
                 title="YouTube">
        </a>
    </li>
</ul>
